<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>公開日: 2014/06/14, 12:14</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>


    <p>できた</p>

    <script>
        document.write("<p>JavaScriptのテスト</p>");
    </script>

    <script type="text/javascript">
        var now = new Date();
        function LoadProc() {
        var target = document.getElementById("DateTimeDisp");

        var Year = now.getFullYear();
        var Month = now.getMonth()+1;
        var Date = now.getDate();
        var Hour = now.getHours();
        var Min = now.getMinutes();
        var Sec = now.getSeconds();

        target.innerHTML = Year + "年" + Month + "月" + Date + "日" + Hour + ":" + Min + ":" + Sec;
        }

    </script>

    <body onload="LoadProc();">
    現在の時刻:
    <div id="DateTimeDisp"></div>
    </body>
        
</html>